* {
    box-sizing: border-box;
}

body {
    background-color: #000cb6;
    font-family: 'Helvetica Neue', sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20vh;
    position: relative;
    opacity: 0;
    animation: zoom-in 0.6s ease-in-out forwards;

}

@keyframes zoom-in {
    form {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1.3);
    }
}

@media screen and (max-width:600px) {
    .wrapper {
        transform: scale(0.8);
        top: 10vh;
    }

    @keyframes zoom-in {
        form {
            opacity: 0;
            transform: scale(0);
        }

        to {
            opacity: 1;
            transform: scale(0.7);
        }
    }
}

.inner {
    width: 417px;
    height: 527px;
    background: rgb(243, 91, 149);
    border-radius: 18px;
    box-shadow: 0 0 15px #000000;
}

.box,
.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 40px;
    margin: 0.9rem;
    width: 388px;
    height: 459px;
    border-radius: 2px;
    background-color: #ffffff;
    border: 2px solid #a02652;
}

.box2 {
    background-image: url(img/c25741cbd8ed17c5dc208cae5e9c7600.gif);
}

.tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 27rem;
    font-size: 20px;
    color: #fd84b1;
    width: 100%;
}

.tab img {
    position: relative;
    bottom: 40px;
    width: 32px;
    height: 32px;
}

.cc,
.cc a {
    display: flex;
    gap: 0.5rem;
}

.imgh {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    bottom: 2rem;
    object-fit: cover;
}

.imgh img {
    position: relative;
    left: 80px;
    width: 260px;
    height: 149px;
    object-fit: cover;
    margin-top: 4rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: left 0.6s ease-in-out forwards;
}

@keyframes left {
    form {
        opacity: 0;
        transform: translateX(0) scale(0);
    }

    to {
        opacity: 1;
        transform: translateX(2px) scale(1.4);
    }
}

.info {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 1rem;
}

input {
    width: 278px;
    height: 45px;
    border-radius: 5px;
    border-color: #fd84b1;
    font-size: 18px;
    padding: 10px;
}

#passwordform {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #fd84b1;
    background-color: #FFC8F1;
    color: #fd84b1;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 4px;
    width: 78px;
    height: 38px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    margin-bottom: 30%;
    margin-top: 28%;
    height: 80%;
}

.text {
    position: relative;
    bottom: 2rem;
    color: #fd84b1;
}

.text h1 {
    line-height: 3px;
}


.text2 p {
    position: relative;
    left: 1.4rem;
    bottom: 2rem;
    color: #fd84b1;
    font-size: 18px;
}

.text2 img {
    position: relative;
    bottom: 10%;
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
}

.next {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bolder;
    height: auto;
    width: fit-content;
    padding: 0.2rem;
    border-radius: 6px;
    margin: 0 auto;
    position: relative;
    top: 10%;
}

.bg {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 2rem;
}

.bg2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 15%;

}

.bg2 img {
    display: flex;
    position: relative;
    width: 250%;
    right: 80%;
}

.countdown {
    font-size: 9rem;
    text-align: center;
    font-weight: bold;
    position: relative;
    justify-content: center;
    align-items: center;
    color: #9e2853;

}

.bg3 {
    display: flex;
    position: relative;
    z-index: 1;
    gap: 2rem;
}

.bg3 img {
    position: relative;
    bottom: 4rem;
    left: 0.1rem;
    width: 150px;
    bottom: 7rem;
    height: auto;
    left: 10px;
    opacity: 0;
    border: 1px solid #383838;
    animation: y 0.6s ease-in-out forwards;
}

@keyframes y {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(20px);
    }
}

.bg4 {
    display: flex;
    position: relative;
    top: 8rem;

}

.bg4 {
    width: 150px;
}


.subbg2 {
    position: relative;
    width: 20px;
}

.subbg2 img {
    position: relative;
    width: 160px;
    top: 8rem;
    right: 15rem;
}

.co {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.co button {
    position: relative;
    right: 40%;
}

.pic {
    color: #fd84b1;
    position: relative;
    left: 20%;
    width: 80rem;
    bottom: 9rem;
}